<!-- /src/app/shared/components/product-card/product-card.component.html -->
<div class="product-card">
  <!-- Produkt-Link Container -->
  <a [routerLink]="productLink" class="product-link">
    <div class="product-image-container">
      <img *ngIf="imageUrl" [src]="imageUrl" [alt]="imageAlt" loading="lazy" class="product-image">
      <div *ngIf="!imageUrl" class="no-image-placeholder">
        <span class="material-symbols-outlined">image</span>
      </div>
    </div>
    <div class="product-info">
      <h3 class="product-title">{{ product.title }}</h3>
      <p class="product-price">{{ productPrice }}</p>
    </div>
  </a> <!-- Ende Produkt-Link Container -->

  <!-- === product-actions Block ENTFERNT === -->

</div>