<!-- /src/app/features/product-list/product-list.component.html -->
<div class="category-page-content">

  <div class="page-header-with-back-button">
    @if (mainCategoryLink(); as categoryLink) {
      <a [routerLink]="categoryLink" class="back-button product-list-back-button">
        <span class="material-symbols-outlined">arrow_back_ios</span>
        Zurück zu {{ mainCategoryLabel() || 'Kategorieübersicht' }}
      </a>
    } @else {
      <div class="back-button-placeholder"></div>
    }

    <h1 *ngIf="collectionTitle()" class="product-list-title">{{ collectionTitle() }}</h1>
    <h1 *ngIf="!collectionTitle() && collectionHandle" class="product-list-title">Kategorie: {{ collectionHandle }}</h1>
    <div class="title-align-placeholder"></div>
  </div>

  @if (isLoading() && products().length === 0) {
    <div class="loading-indicator">
      <p>Produkte werden geladen...</p>
    </div>
  }

  @if (error() && products().length === 0) {
     <div class="error-message">
       <p>{{ error() }}</p>
     </div>
   }

  <ng-container *ngIf="!isLoading() || products().length > 0">
     <p *ngIf="products().length === 0 && !isLoadingMore() && !error()" class="no-products-message">
        In dieser Kategorie wurden leider keine Produkte gefunden.
    </p>

    <div class="product-grid" *ngIf="products().length > 0">
      <app-product-card
          *ngFor="let product of products(); trackBy: trackByProductId"
          [product]="product">
      </app-product-card>
    </div>

    <div #loadMoreTrigger
         *ngIf="pageInfo().hasNextPage && products().length > 0"
         class="load-more-trigger">
    </div>

     <div *ngIf="isLoadingMore()" class="loading-indicator more-loading">
       <p>Lade weitere Produkte...</p>
     </div>
  </ng-container>
</div>