<!-- /src/app/shared/components/cart-discount-info-modal/cart-discount-info-modal.component.html -->
<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button 
      class="modal-close-button" 
      (click)="closeModal()" 
      [attr.aria-label]="'modals.shared.closeButtonAriaLabel' | transloco">
      <span class="material-symbols-outlined">close</span>
    </button>

    <div class="modal-header">
      <span class="material-symbols-outlined modal-icon">warning</span>
      <h2 class="modal-title">{{ 'modals.cartDiscount.title' | transloco }}</h2>
    </div>

    <div class="modal-body">
      <p 
        class="modal-text" 
        [innerHTML]="'modals.cartDiscount.paragraph1' | transloco | safeHtml">
      </p>
      <p 
        class="modal-text" 
        [innerHTML]="'modals.cartDiscount.paragraph2' | transloco | safeHtml">
      </p>
      
      <div class="coupon-code-section">
        <span class="coupon-code-label">{{ 'modals.cartDiscount.couponCodeLabel' | transloco }}</span>
        <div class="coupon-with-copy">
          <strong class="coupon-code highlight-brand">{{ couponCode }}</strong>
          <button
            type="button"
            class="button-icon-only button-copy-code"
            (click)="copyCouponCode()"
            [attr.aria-label]="getCopyButtonAriaLabel()"
            [title]="getCopyButtonTitle()"
          >
            <span class="material-symbols-outlined">
              {{ copyStatus() === 'copied' ? 'done' : 'content_copy' }}
            </span>
          </button>
        </div>
        <span *ngIf="copyStatus() === 'copied'" class="copy-feedback success">
          {{ 'modals.cartDiscount.copyCodeButton.feedbackCopied' | transloco }}
        </span>
         <span *ngIf="copyStatus() === 'error'" class="copy-feedback error">
          {{ 'general.error' | transloco }} 
        </span>
         <span *ngIf="copyStatus() === 'unsupported'" class="copy-feedback warning">
          {{ 'general.notSupported' | transloco }}
        </span>
      </div>
    </div>

    <div class="modal-actions">
      <button 
        type="button" 
        class="button button-primary" 
        (click)="applyCouponAndClose()">
        {{ 'modals.cartDiscount.applyButton' | transloco }}
      </button>
      <button type="button" class="button button-secondary" (click)="closeModal()">
        {{ 'modals.cartDiscount.closeButton' | transloco }}
      </button>
    </div>
  </div>
</div>