<!-- /src/app/app.component.html -->

<!-- Wartungsseite anzeigen, wenn maintenanceMode true ist -->
<app-maintenance *ngIf="maintenanceMode"></app-maintenance>

<!-- Normale App anzeigen, wenn maintenanceMode false ist -->
<ng-container *ngIf="!maintenanceMode">
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>

  <!-- Login Overlay (mit Klasse für Animation) -->
  <app-login-overlay
      *ngIf="isLoginOverlayOpen$()"
      [class.visible]="isLoginOverlayOpen$()">
  </app-login-overlay>

  <app-cookie-consent-banner></app-cookie-consent-banner>

  <!-- Wartungshinweis Modal -->
  <app-maintenance-info-modal *ngIf="showMaintenancePopup$()"></app-maintenance-info-modal>

  <!-- +++ NEU: Globales Bestätigungs-Modal +++ -->
  <app-confirmation-modal></app-confirmation-modal>

</ng-container>