<footer class="app-footer">
  <div class="footer-content">

    <div class="footer-column links-column">
      <h4>{{ 'footer.legal.title' | transloco }}</h4>
      <ul>
        <li><a routerLink="/impressum">{{ 'footer.legal.imprint' | transloco }}</a></li>
        <li><a routerLink="/datenschutz">{{ 'footer.legal.privacy' | transloco }}</a></li>
        <li><a routerLink="/agb">{{ 'footer.legal.terms' | transloco }}</a></li>
        <li><a routerLink="/widerrufsrecht">{{ 'footer.legal.cancellation' | transloco }}</a></li>
      </ul>
    </div>

    <div class="footer-column links-column">
      <h4>{{ 'footer.customerService.title' | transloco }}</h4>
      <ul>
        <li><a routerLink="/kontakt">{{ 'footer.customerService.contact' | transloco }}</a></li>
        <li><a routerLink="/versand">{{ 'footer.customerService.shipping' | transloco }}</a></li>
        <li><a routerLink="/faq">{{ 'footer.customerService.faq' | transloco }}</a></li>
      </ul>
    </div>

    <div class="footer-column links-column">
      <h4>{{ 'footer.aboutUs.title' | transloco }}</h4>
      <ul>
        <li><a routerLink="/ueber-uns">{{ 'footer.aboutUs.whoWeAre' | transloco }}</a></li>
      </ul>
    </div>

    <div class="footer-column language-column">
      <h4>{{ 'footer.language.title' | transloco }}</h4>
      <ul class="language-list">
        @for(lang of availableLangsSignal(); track lang.id) {
          <li>
            <button type="button"
                    (click)="changeLanguage(lang.id)"
                    [class.active-lang]="lang.id === activeLang()">
              {{ lang.label }}
            </button>
          </li>
        }
      </ul>
    </div>

    <div class="footer-column social-column">
      <h4>{{ 'footer.social.title' | transloco }}</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/yourgardeneden/" target="_blank" rel="noopener noreferrer" [attr.aria-label]="'footer.social.instagram' | transloco">
           <img src="assets/icons/social/instagram.png" alt="Instagram" width="24" height="24">
        </a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="payment-methods">
      <img src="assets/icons/Payments/applePay.svg" alt="Apple Pay" title="Apple Pay">
      <img src="assets/icons/Payments/googlePay.svg" alt="Google Pay" title="Google Pay">
      <img src="assets/icons/Payments/maestro.svg" alt="Maestro" title="Maestro">
      <img src="assets/icons/Payments/mastercard.svg" alt="Mastercard" title="Mastercard">
      <img src="assets/icons/Payments/paypalexpress.svg" alt="PayPal Express Checkout" title="PayPal Express Checkout">
      <img src="assets/icons/Payments/unionpay.svg" alt="UnionPay" title="UnionPay">
      <img src="assets/icons/Payments/americanexpress.svg" alt="American Express" title="American Express">
    </div>
    <p>© {{ currentYear }} Your Garden Eden. {{ 'footer.legal.allRightsReserved' | transloco }}</p>
  </div>
</footer>