// /src/app/shared/components/loading-spinner/loading-spinner.component.scss
@use '../../../../styles';

:host {
  display: block; // Einfach nur ein Block-Element
  width: 100%;
  height: 100%;
}

// +++ NEU: Diese Klasse ist IMMER da und IMMER für die Zentrierung zuständig +++
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// Diese Klasse wird dynamisch hinzugefügt und kümmert sich NUR noch um das Overlay.
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(245, 240, 224, 0.75);
  z-index: var(--z-index-modal-backdrop);
}

.spinner-image {
  width: calc(12 * var(--spacing-unit)); // 96px
  height: calc(12 * var(--spacing-unit)); // 96px
}