<!-- /src/app/features/static-page/static-page.component.html -->
<div class="static-page-container">

    <div *ngIf="isLoading()" class="loading-indicator">
      <p>{{ 'staticPage.loadingPage' | transloco }}</p>
    </div>

    @if (!isLoading() && error(); as errorMsg) {
      <div class="error-message">
        <p>{{ errorMsg }}</p>
        <a routerLink="/">{{ 'staticPage.backToHome' | transloco }}</a>
      </div>
    }

    @if (!isLoading() && !error() && markdownContent(); as mdContent) {
      <div class="static-page-content">
        <markdown
          [data]="mdContent"
          (load)="onMarkdownLoad()"
          (error)="onMarkdownError($event)">
        </markdown>
      </div>
    } @else if (!isLoading() && !error() && !markdownContent()) {
      <div class="error-message">
           <p>{{ 'staticPage.error.noSource' | transloco }}</p>
       </div>
    }
  </div>